.footer{height: 80px; display: flex; align-items: center; justify-content: center; background-color: rgb(173, 173, 173); color: rgb(255, 0, 0); position: fixed; bottom: 0; width: 100%;}
.footer span{font-weight: bold; color: rgb(0, 0, 0);}
.footer a{font-weight: bold; color: rgb(255, 0, 0);}